.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.App__header {
  width: inherit;
  background-color: #f8f9fa;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

.App__main {
  width: inherit;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.App_main--form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 770px) {
  .App__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 325px) {
  .App_main--form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
